<!DOCTYPE html>
<html>
  <head>
    <title>Tiri Kananuruk</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- css -->
    <link rel="stylesheet" href="style.css">

    <!-- Teachable Machine -->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@latest/dist/teachablemachine-image.min.js"></script>
  </head>

  <body>
    <!-- =========================================================== -->
    <!-- ✔️ Create the webcam and label containers -->
    <!-- =========================================================== -->
    <div id="webcam-container"></div>
    <!-- <div id="label-container"></div> -->

    <!-- =========================================================== -->
  
    <div id="mainText1">Tiri Kananuruk</div>
    <div id="mainText2"></div>
    <img id="image1">

    <script type="text/javascript" src="script.js"></script>
  </body>
</html>

